.big-quote {
    text-align: center;
    font-size: 40px;
    margin-top: 80px;
    height: 120px;
    position: relative;
    font-style: italic;
}

h2 {
  text-shadow: #222 1px 1px 2px;
}

h3 {
  font-size: 35px !important;
}

.big-quote-desc {
    font-style: italic;
    text-align: center;
}

.big-quote:before {
    content: " ";
    width: 200px;
    height: 200px;
    display: block;
    background: url('../pictures/quote-left.png') left center no-repeat;
    background-size: 80px 64px;
    position: absolute;
    opacity: 0.5;
    top: -65px;
    left: -50px;
}

.full section.myslide {
    background: none;
}

.full .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
}

.full .background > div {
    width: 100%;
    height: 100%;
    background: url('../pictures/back4.jpg') left center no-repeat;
    background-size: cover;
    opacity: 0.35;
}


h2.chapter {
  font-weight: bold;
  font-size: 70px !important;
  text-align: center;
  margin-top: 180px !important;
}


h2.chapter-3 {
  font-weight: bold;
  font-size: 70px !important;
  text-align: center;
  margin-top: 120px !important;
}


code {
  padding: 20px !important;
  background: rgba(255, 255, 255, 0.6) !important;
  width: 760px;
  font-size: 22px !important;
}

.moveup {
  position: relative;
  top: -70px;
}

.column {
  width: 48%;
  float: left;
}

.slide>div {
  width: 800px;
  overflow: hidden;
}

.uml-block {
  margin: 10px auto;
  overflow: hidden;
  width: 200px;
  line-height: 45px;
  border-radius: 20px;
}

.uml-block.classical {
  background-color: rgba(217, 209, 18, 0.59);
}

.uml-block.state {
  background-color: rgba(129, 217, 18, 0.59);
}

.uml-block.operations {
  background-color: rgba(18, 151, 217, 0.59);
}

.uml-block-content {
  padding: 0px 20px 10px;
}

.uml-block-title {
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
}

.uml-row {
  overflow: auto;
  margin: 40px 0px;
}

.uml-row .uml-block {
  float: left;
}

.uml-block.small {
  width: 130px;
  margin: 0px 10px;
  text-align: center;
}

.uml-block.big {
  width: 730px;
  margin: 0px 10px;
  text-align: center;
}

.end {
  text-align: center;
}

.beer {
  width: 300px;
  margin-bottom: 50px;
}

.gray {
  color: #666;
}

.seq-img {
  width: 100%;
}

.center {
  text-align: center;
}

.node-inspector {
  height: 400px;
}

.pm2-monit {
  width: 500px;
}

.pm2-list {
  width: 650px;
}
